
/* Responsive mode for second card */
@media (min-width:320px) and (max-width:575px){
    .second-card {
        margin:10px auto !important;
        margin-left: 10px !important;
        /* margin-bottom: 80px !important; */
    }
}

/* Medium devices */
@media (min-width:576px) and (max-width:767px){
    .second-card {
        margin:10px auto !important;
        margin-left: 80px !important;
    }
}
/* @media (min-width:768px) and (max-width:991px){}
@media (min-width:992px) {} */